/*
COLOR PALETTE - define new and add
*/

/* N E W Top interactive MENU starts here */
body {
    font-family: "Inter", sans-serif;
    height: 5000px;
    padding-top: 60px;
    background-color: #e8f0f7;
}
/*-- play with top menu colors - background-color: rgb(19, 22, 26) --*/
.header-top-menu {
    background-color: rgb(19, 22, 26);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}


.header-top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}
.header-top-content a{
    text-decoration: none;
}
.a-logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9)
}

.header-top-content ul {
    list-style: none;
}
.a-logo img{
    position: absolute;
    top: 2px;
    left: 25px;
    margin-top: 2px;
    width: 180px;
    padding: 10px;
    transition: all 0.4s;
}
.header-top-content img:hover {
    transform: scale(120%);
}
/* nav class for the nav menue */
nav-class {
    transition: all 0.3s ease-in-out;
}
/* nav_list for the unorder list ul */
.nav_list {
    display: flex;
    column-gap: 40px;
}
/* nav_item for each item il , within the nav , not needed
.nav_item {
}*/
/* nav_link for the a anchos links within the nav */
.nav_link {
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    transition: all 0.4s;
}
.nav_link:hover,
.nav_link:focus {
    color: rgb(255, 255, 255);
}
/* then we have the div - hamburger holding 3 div bar */
.hamburger {
    display: none;
    cursor: pointer;
}

/* finaly the bar divs within the hamburger */
.bar {
    height: 2px;
    width: 27px;
    background-color: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}
/*add a class to work with script.js - .nav--open 
This will cancel the earlier move and set it back */
.nav--open {
    transform: translate(0) !important;
}
.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}
.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}
/* Start all setting to move on to a hamburger menu at -650 */
@media (max-width: 650px) {
    .nav-class {
        position: fixed;
        top: 60px;
        left: 25%;
        background-color: rgb(19, 22, 26);
        width: 50%;
        padding: 10px 0 25px;
        transform: translateX(-150%)
    }

    .a-logo img{
    position: absolute;
    top: 2px;
    left: 25px;
    margin-top: 2px;
    width: 80px;
    padding: 10px;
    transition: all 0.4s;
    }

    .nav_list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    }

    .nav_link {
    font-size: 14px;
    }

    .hamburger {
    display: block;
    }
}
/* -------- Styles for TOP menue E N D   here ----- */

/* N E W Top interactive MENU ENDs here -----------------------------*/

/* GLOBAL STYLES 
------------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /* set default to 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}
body {
    background: #e7f6fe; 
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
}
h1, h2, h3 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}
h1 {
    font-size: 8rem;
    line-height: 0.85;
}
h2 {
    font-size: 3.0rem;
}
h3 {
    font-size: 2.6rem;
}
/* collor workds on text*/
.color-word {
    color: #f1ee25;
}
/* transparent top menu \ logo Expediciones Angostora */
.logo-ea img {
    position: absolute;
    top: 2px;
    left: 25px;
    margin-top: 2px;
    width:140px;
    padding: 10px;
    transition: all 0.4s;
}
.logo-ea img:hover {
    transform: scale(120%);
}
@media screen and (max-width: 800px){
    .logo-ea img {
        width: 80px;
        padding: 5px;
    }
}
.content-wrapper {
    margin: auto;
    padding: 0px 20px;
    max-width: 1400px;
}


/*  New Home Styles settings start here ----------------------------------------- 
------------------------------------*/
.home-class header::before {
    background: url(../images/1-resting-feets-h4-full-1600x550.jpg) no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 550px;
}
.title-class h1 {
        font-size: 6rem;
        position: absolute;
        text-align: center;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        color: #fff;
    }

@media screen and (max-width:1200px){
    .home-class header::before {
    background: url(../images/1-resting-feets-h4-full-1600x550.jpg) no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
    }
    .title-class h1 {
        font-size: 4rem;
        line-height: 0.85;
        position: absolute;
        text-align: center;
        top: 20%;
        left: 55%;
        transform: translate(-50%, -50%);
        margin: 0;
        color: #fff;
    }
}

@media screen and (max-width:500px){
    .home-class header::before {
    background: url(../images/1-large-rest-feet-hc-1000.jpg) no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 320px;
    }
    .title-class h1 {
    font-size: 3rem;
    line-height: 0.85;
    position: absolute;
    top: 15%;
    left: 40%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #0a0a0a;
    }
}
.content-wrapper-home {
    text-align: left;
    margin: 10px;
    padding: 20px;
}


/* FOOTER all pages 
------------------------------------*/
footer {
    background: rgba(60,62,65, 0.8);
    color: #e3edee;
}
a {
    color: #e3edee;
    text-decoration: underline;
    transition: all 0.4s;
}
a:hover {
    color: #f1ee25;
    text-decoration: none;
    /*background: rgba(119, 137, 149, 0.8)*/
}
.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
    margin-left: 10px;
}
.socials img {
    width: 32px;
}
.socials img:hover {
    transform: scale(140%);
}

@media screen and (min-width: 860px){
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}
@media screen and (max-width: 859px){
    footer {
        text-align: center;
        padding: 10px;
    }
}
