/*
COLOR PALETTE - define new and add
match Bolt blue color #4f46e5
*/

/* N E W Top interactive MENU starts here */
body {
    font-family: "Inter", sans-serif;
    height: 5000px;
    padding-top: 60px;
    background-color: #e8f0f7;
}

.header-top-menu {
    background-color: #4f46e5;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header-top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}
.header-top-content a{
    color: rgb(230, 230, 230);
    text-decoration: none;
}
.a-logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9)
}

.header-top-content ul {
    list-style: none;
}
.a-logo img{
    position: absolute;
    top: 2px;
    left: 25px;
    margin-top: 2px;
    width: 180px;
    padding: 10px;
    transition: all 0.4s;
}
.header-top-content img:hover {
    transform: scale(120%);
}
/* nav class for the nav menue */
nav-class {
    transition: all 0.3s ease-in-out;
}
/* nav_list for the unorder list ul */
.nav_list {
    display: flex;
    column-gap: 40px;
}
/* nav_item for each item il , within the nav , not needed
.nav_item {
}*/
/* nav_link for the a anchos links within the nav */
.nav_link {
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    transition: all 0.4s;
}
.nav_link:hover,
.nav_link:focus {
    color: rgba(252, 255, 60);
}
/* then we have the div - hamburger holding 3 div bar */
.hamburger {
    display: none;
    cursor: pointer;
}

/* finaly the bar divs within the hamburger */
.bar {
    height: 2px;
    width: 27px;
    background-color: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}
/*add a class to work with script.js - .nav--open 
This will cancel the earlier move and set it back */
.nav--open {
    transform: translate(0) !important;
}
.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}
.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}
/* Start all setting to move on to a hamburger menu at -650 */
@media (max-width: 1050px) {
    .nav-class {
        position: fixed;
        top: 60px;
        left: 25%;
        background-color: rgb(19, 22, 26);
        width: 50%;
        padding: 10px 0 25px;
        transform: translateX(-150%)
    }

    .a-logo img{
    position: absolute;
    top: 2px;
    left: 25px;
    margin-top: 2px;
    width: 80px;
    padding: 10px;
    transition: all 0.4s;
    }

    .nav_list {
    flex-direction: column;
    align-items: center;
    padding: 0%;
    row-gap: 20px;
    }

    .nav_link {
    font-size: 14px;
    }

    .hamburger {
    display: block;
    }
}
/* -------- Styles for TOP menue E N D   here ----- */

/* GLOBAL STYLES 
------------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /* set default to 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}
body {
    background: #e7f6fe; 
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
}
h1, h2, h3 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}
h1 {
    text-decoration: underline;
    font-size: 8rem;
    line-height: 0.85;
}
h2 {
    font-size: 3.0rem;
}
h3 {
    font-size: 2.6rem;
}
h4 {
    color: #f1ee25;
    font-family: 'Caveat', cursive;
    font-size: 2.6rem;
    margin-top: 0%;
    margin-bottom: 0%;
}
/* collor workds on text*/
.color-word {
    color: #f1ee25;
}

@media screen and (max-width: 800px){
    .logo-ea img {
        width: 80px;
        padding: 5px;
    }
}

.content-wrapper {
    display: flexbox;
    align-items: center;
    margin: 10px;
    padding: 20px;
    max-width: 1400px;
    p {
        font-size: 2.0rem;
    }
}

/*  Catalogo de sendas - catalog-class 
------------------------------------*/
.catalogo-class header::before {
    background: url(../images/2-belvedere-flia-1.png) center, no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 380px;
}
.slogan-catalogo {
    padding-top: 15px;
    padding-left: 30px;
}

.catalogo-section {
    margin-bottom: 10px;
}
.catalogo-section h2 {
    border-bottom: 2px dashed #d3d4d6;
}
.btn-d-link-cat {
    position: absolute;
    top: 445px;
    left: 5px;
    font-size: 1.5rem;
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.1em;
    line-height: 1;
    border-radius: 4px;
}


/* Shared class with SP , set to define video screen width */
.youtube-container {
    aspect-ratio: 16 / 9;
    width: 850px;
    padding: 20px;
}

.imagen-fit2left img {
    float: right;
    width: 530px;
    height: 480px;
    padding: 20px;
}

.gps-map-salidas {
    float: right;
    width: 530px;
    height: 480px;
    padding: 20px;
}

.logo-fit2left img {
    float: right;
    width: 400px;
}
/* Adaptive options for youtube-container -*/
@media screen and (max-width: 950px){
    .youtube-container {
        aspect-ratio: 16 / 9;
        width: 700px;
        padding: 10px;
    }
}
@media screen and (max-width: 830px){
    .youtube-container {
        aspect-ratio: 16 / 9;
        width: 500px;
        padding: 5px;
    }
        .content-wrapper p {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 600px){
    .youtube-container {
        aspect-ratio: 16 / 9;
        width: 400px;
        padding: 5px;
    }
        .content-wrapper p {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 500px){
    .youtube-container {
        aspect-ratio: 16 / 9;
        width: 330px;
        padding: 2px;
    }
    .content-wrapper img {
        width: 200px;
    }

}

@media screen and (max-width: 400px){
    .youtube-container {
        aspect-ratio: 16 / 9;
        width: 280px;
        padding: 0px;
    }
        .content-wrapper p {
        font-size: 1rem;
    }
}

/* FOOTER all pages 
------------------------------------*/
footer {
    background-color: #4f46e5;
    height: 150px;
    color: #e3edee;
}
a {
    color: #f1ee25;
    text-decoration: none;
    transition: all 0.4s;
}
a:hover {
    color: #f1ee25;
    text-decoration: none;
    /*background: rgba(119, 137, 149, 0.8)*/
}
.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
    margin-left: 10px;
}
.socials img {
    width: 32px;
}
.socials img:hover {
    transform: scale(140%);
}

@media screen and (min-width: 860px){
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}
@media screen and (max-width: 859px){
    footer {
        text-align: center;
        padding: 10px;
    }
}
